<main class="main">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a [routerLink]="['/' + paths.home]" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
        <span></span> {{ product.productName}}
      </div>
    </div>
  </div>
  <div class="container mb-30">
    <div class="row">
      <div class="col-xl-10 col-lg-12 m-auto">
        <div class="product-detail accordion-detail">
          <div class="row mb-50 mt-30">
            <div class="col-md-6 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
              <div class="detail-gallery">
                <!-- MAIN SLIDES -->
                <div class="product-image-slider">
                  <figure class="border-radius-10">
                    <img [src]="productImage" alt="{{ product.productName }}" style="height: 100%; width: 100%;" />
                  </figure>
                  <!-- <figure class="border-radius-10">
                    <img src="assets/imgs/shop/product-16-1.jpg" alt="product image" />
                  </figure>
                  <figure class="border-radius-10">
                    <img src="assets/imgs/shop/product-16-3.jpg" alt="product image" />
                  </figure>
                  <figure class="border-radius-10">
                    <img src="assets/imgs/shop/product-16-4.jpg" alt="product image" />
                  </figure>
                  <figure class="border-radius-10">
                    <img src="assets/imgs/shop/product-16-5.jpg" alt="product image" />
                  </figure>
                  <figure class="border-radius-10">
                    <img src="assets/imgs/shop/product-16-6.jpg" alt="product image" />
                  </figure>
                  <figure class="border-radius-10">
                    <img src="assets/imgs/shop/product-16-7.jpg" alt="product image" />
                  </figure> -->
                </div>
                <!-- THUMBNAILS -->
                <div class="slider-nav-thumbnails" style=" margin-top: 20px; text-align: center;">
                  <div><img [src]="productImage" alt="{{ product.productName }}" style="border: 2px solid #a2d2c9;
                    height: 140px !important; border-radius: 17px;" /></div>
                  <!-- <div><img src="assets/imgs/shop/thumbnail-4.jpg" alt="product image" /></div>
                  <div><img src="assets/imgs/shop/thumbnail-5.jpg" alt="product image" /></div>
                  <div><img src="assets/imgs/shop/thumbnail-6.jpg" alt="product image" /></div>
                  <div><img src="assets/imgs/shop/thumbnail-7.jpg" alt="product image" /></div>
                  <div><img src="assets/imgs/shop/thumbnail-8.jpg" alt="product image" /></div>
                  <div><img src="assets/imgs/shop/thumbnail-9.jpg" alt="product image" /></div> -->
                </div>
              </div>
              <!-- End Gallery -->
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="detail-info pr-30 pl-30">
                <h2 class="title-detail">{{ product.productName }}</h2>
                <div class="product-detail-rating">
                  <div class="product-rate-cover text-end">
                    <div class="product-rate d-inline-block">
                      <div class="product-rating" [style.width.%]="calculatePercentage(5)"></div>
                    </div>
                    <span class="font-small ml-5 text-muted"> ({{totalRate}} reviews)</span>
                  </div>
                </div>
                <div class="clearfix product-price-cover">
                  <div class="product-price primary-color float-left">
                    <span class="current-price text-brand">${{ product.price }}</span>
                  </div>
                </div>
                <div class="short-desc mb-30">
                  <p class="font-lg">{{product.description}}</p>
                </div>
                <div class="detail-extralink mb-50">
                  <div class="detail-qty border radius">
                    <a (click)="decreaseQuantity()" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                    <input [value]="quantity" id="quantity" type="number" name="quantity" class="qty-val"
                      (input)="updateQuantity($event)" min="1">
                    <a (click)="increaseQuantity()" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                  </div>
                  <div class="product-extra-link2">
                    <button (click)="addToCart(product.id)" type="submit" class="button button-add-to-cart"
                      style="vertical-align: top !important"><i class="fi-rs-shopping-cart"></i>Add to cart</button>
                    <a aria-label="Add To Wishlist" (click)="addToWishlist(product.id)"  class="action-btn hover-up"><i
                        class="fi-rs-heart"></i></a>
                    <a aria-label="Compare" class="action-btn hover-up" (click)="addToComparison(product)"><i
                        class="fi-rs-shuffle"></i></a>
                  </div>
                </div>
                <div class="font-xs">
                  <ul class="mr-50 float-start" style="font-size: 20px; font-weight: 500;">
                    <li class="mb-5">Type: <span class="text-brand">{{
                        product.categoryName }}</span></li>
                        <li class="mb-5">End Date: <span class="text-brand">{{
                          product.endDate | date }}</span></li>
                    <li class="mb-5">Stock:<span class="text-brand"> {{
                        product.quantity}} Items In Stock</span></li>
                  </ul>
                </div>
              </div>
              <!-- Detail Info -->
            </div>
          </div>
          <div class="product-info">
            <div class="tab-style3">
              <ul class="nav nav-tabs text-uppercase">
                <li class="nav-item">
                  <a class="nav-link active" id="Description-tab" data-bs-toggle="tab"
                    href="#Description">Description</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab" href="#Reviews">Reviews ({{totalRate}})</a>
                </li>
              </ul>
              <div class="tab-content shop_info_tab entry-main-content">
                <div class="tab-pane fade show active" id="Description">
                  <div class>
                    <p>{{product.description}}</p>
                  </div>
                </div>
                <div class="tab-pane fade" id="Reviews">
                  <!--Comments-->
                  <div class="comments-area">
                    <div class="row">
                      <div class="col-lg-8">
                        <h4 class="mb-30">Customer questions & answers</h4>
                        <div class="comment-list">
                          <div class="single-comment justify-content-between d-flex mb-30"
                            *ngFor="let rate of productRates,let i = index">
                            <div class="user justify-content-between d-flex">
                              <div class="thumb text-center">
                                <img [src]="userAvatars[i]" alt />
                                <p class="font-heading text-brand">{{rate.accountName}}</p>
                              </div>
                              <div class="desc">
                                <div class="d-flex justify-content-between mb-10">
                                  <div class="d-flex align-items-center">
                                    <span class="font-xs text-muted">{{rate.rateDate | date}} </span>
                                  </div>
                                  <div class="product-rate d-inline-block m-2">
                                    <div class="product-rating" [style.width]="calculateRatingWidth(rate.star)"></div>
                                  </div>
                                </div>
                                <div>
                                  <p class="mb-1">{{rate.comment}}</p>
                                  <img class="mb-2" [src]="rateImages[i]" alt=""> <br>
                                  <a *ngIf="canDeleteComment(rate)" (click)="deleteRate(rate.id)" class="reply mb-10 text-danger">Delete Comment</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <h4 class="mb-30">Customer reviews</h4>
                        <div class="d-flex mb-30">
                          <div class="product-rate d-inline-block mr-15">
                            <div class="product-rating" [style.width.%]="calculatePercentage(5)"></div>
                          </div>
                          <h6>{{ (+calculatePercentage(5) / 20 | number:'1.2-2')}} out of 5</h6>
                        </div>
                        <div *ngFor="let star of [5, 4, 3, 2, 1]" class="progress">
                          <span>{{ star }} star</span>
                          <div class="progress-bar" role="progressbar" [style.width.%]="calculatePercentage(star)" [attr.aria-valuenow]="calculatePercentage(star)" aria-valuemin="0" aria-valuemax="100">{{ calculatePercentage(star) }}%</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--comment form-->
                  <div class="comment-form">
                    <h4 class="mb-15">Add a review</h4>
                    <div class="row">
                      <div class="col-lg-8 col-md-12">
                        <form class="form-contact comment_form" id="commentForm">
                          <input type="hidden" name="productId" [(ngModel)]="rate.productId" [value]="product.id">

                          <input type="hidden" name="accountId" [(ngModel)]="rate.accountId">
                          <div class="row">
                            <div class="col-12">
                              <label class="form-label">Write Comment:</label>
                              <div class="form-group">
                                <textarea class="form-control w-100" name="comment" [(ngModel)]="rate.comment"
                                  id="comment" cols="30" rows="9" placeholder="Write Comment"></textarea>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="form-group">
                                <label for="star">Star Rating:</label>
                                <div class="rating" (click)="onStarClick($event)">
                                  <span [class]="starClass(1)" data-value="1">&#9733;</span>
                                  <span [class]="starClass(2)" data-value="2">&#9733;</span>
                                  <span [class]="starClass(3)" data-value="3">&#9733;</span>
                                  <span [class]="starClass(4)" data-value="4">&#9733;</span>
                                  <span [class]="starClass(5)" data-value="5">&#9733;</span>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-12">
                              <div class="mb-4">
                                <label class="custom-file-upload">
                                  <img *ngIf="rateImageDetail" [src]="rateImageDetail" alt="Selected Image" />
                                  <input (change)="onRateChange($event)" type="file" />
                                  Choose File
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <button type="submit" class="button button-contactForm" (click)="saveRate()">Submit
                              Review</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-60">
            <div class="col-12">
              <h2 class="section-title style-1 mb-30">Products with similar prices</h2>
            </div>
            <div class="col-12">
              <div class="row related-products">
                <div class="col-lg-3 col-md-4 col-12 col-sm-6" *ngFor="let relatedProduct of recommendedProducts; let i = index">
                  <div class="product-cart-wrap hover-up">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a [routerLink]="['/',paths.productDetail,relatedProduct.id ]" tabindex="0">
                          <img class="default-img" [src]="relateProductImage[i]" alt />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a aria-label="Quick view" class="action-btn" data-bs-toggle="modal"
                      [attr.data-bs-target]="'#quickViewModal-' + relatedProduct.id"><i class="fi-rs-eye"></i></a>
                        <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html"
                          tabindex="0"><i class="fi-rs-heart"></i></a>
                        <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html"
                          tabindex="0"><i class="fi-rs-shuffle"></i></a>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <h2><a [routerLink]="['/',paths.productDetail,relatedProduct.id ]" tabindex="0">{{relatedProduct.productName}}</a></h2>
                      <div class="rating-result" title="90%">
                        <span> </span>
                      </div>
                      <div class="product-price">
                        <span>${{relatedProduct.price}} </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let relatedProduct of recommendedProducts; let i = index">
    <div class="modal fade custom-modal" [id]="'quickViewModal-' + relatedProduct.id" tabindex="-1"
      aria-labelledby="quickViewModalLabel" aria-hidden="true" style="height: 100%;">
      <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
                <div class="detail-gallery">
                  <!-- MAIN SLIDES -->
                  <div class="product-image-slider">
                    <figure class="border-radius-10" style="margin: 0 0 0 0 !important;">
                      <img [src]="relateProductImage[i]" alt="{{ relatedProduct.productName }}"
                        style="width: 100%; height: 100%;" />
                    </figure>
                  </div>
                </div>
                <!-- End Gallery -->
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="detail-info pr-30 pl-30">
                  <span class="stock-status out-stock"> Sale Off </span>
                  <h3 class="title-detail"><a class="text-heading">{{relatedProduct.productName}}</a></h3>
                  <div class="product-detail-rating">
                    <div class="product-rate-cover text-end">
                      <div class="product-rate d-inline-block">
                        <div class="product-rating" style="width: 90%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix product-price-cover">
                    <div class="product-price primary-color float-left">
                      <span class="current-price text-brand">${{relatedProduct.price}}</span>
                    </div>
                  </div>
                  <div class="detail-extralink mb-30" style="margin-bottom: 0px !important;">
                    <div class="detail-qty border radius">
                      <a (click)="decreaseQuantity()" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                      <input [value]="quantity" id="quantity" type="number" name="quantity" class="qty-val"
                        (input)="updateQuantity($event)" min="1">
                      <a (click)="increaseQuantity()" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                    </div>
                    <div class="product-extra-link2">
                      <button (click)="addToCart(relatedProduct.id)" type="submit" class="button button-add-to-cart"><i
                          class="fi-rs-shopping-cart"></i>Add to cart</button>
                    </div>
                  </div>
                  <div class="font-xs">
                    <ul style="font-size: 15px; margin-bottom: 0px !important; padding-left: 0px !important;">
                      <li class="mb-5" style="margin-bottom: 10px !important;">Type:
                        <span class="text-brand">{{relatedProduct.categoryName}}</span>
                      </li>
                      <li class="mb-5" style="margin-bottom: 0px !important;">Stock:<span class="text-brand">
                          {{relatedProduct.quantity}} Items In
                          Stock</span></li>
                    </ul>
                  </div>
                </div>
                <!-- Detail Info -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>