<footer class="main">
  <section class="newsletter mb-15">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="position-relative newsletter-inner">
            <div class="newsletter-content">
              <h2 class="mb-20">
                Stay home & get your daily <br />
                needs from our shop
              </h2>
              <p class="mb-45">Start You'r Daily Shopping with <span class="text-brand">Nest Mart</span></p>
            </div>
            <img src="assets/imgs/banner/banner-9.png" alt="newsletter" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="featured section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0">
          <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
            <div class="banner-icon">
              <img src="assets/imgs/theme/icons/icon-1.svg" alt="" />
            </div>
            <div class="banner-text">
              <h3 class="icon-box-title">Best prices & offers</h3>
              <p>Orders $50 or more</p>
            </div>
          </div>
        </div>
        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
          <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
            <div class="banner-icon">
              <img src="assets/imgs/theme/icons/icon-2.svg" alt="" />
            </div>
            <div class="banner-text">
              <h3 class="icon-box-title">Free delivery</h3>
              <p>24/7 amazing services</p>
            </div>
          </div>
        </div>
        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
          <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
            <div class="banner-icon">
              <img src="assets/imgs/theme/icons/icon-3.svg" alt="" />
            </div>
            <div class="banner-text">
              <h3 class="icon-box-title">Great daily deal</h3>
              <p>When you sign up</p>
            </div>
          </div>
        </div>
        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
          <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
            <div class="banner-icon">
              <img src="assets/imgs/theme/icons/icon-4.svg" alt="" />
            </div>
            <div class="banner-text">
              <h3 class="icon-box-title">Wide assortment</h3>
              <p>Mega Discounts</p>
            </div>
          </div>
        </div>
        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
          <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
            <div class="banner-icon">
              <img src="assets/imgs/theme/icons/icon-5.svg" alt="" />
            </div>
            <div class="banner-text">
              <h3 class="icon-box-title">Easy returns</h3>
              <p>Within 30 days</p>
            </div>
          </div>
        </div>
        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 d-xl-none">
          <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
            <div class="banner-icon">
              <img src="assets/imgs/theme/icons/icon-6.svg" alt="" />
            </div>
            <div class="banner-text">
              <h3 class="icon-box-title">Safe delivery</h3>
              <p>Within 30 days</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-padding footer-mid">
    <div class="container pt-15 pb-20">
      <div class="row">
        <div class="col">
          <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0">
            <div class="logo mb-30">
              <a [routerLink]="['/',paths.home]" class="mb-15"><img src="assets/imgs/theme/logo.svg" alt="logo" /></a>
              <p class="font-lg text-heading">Website selling food online</p>
            </div>
            <ul class="contact-infor">
              <li><img src="assets/imgs/theme/icons/icon-location.svg" alt="" /><strong>Address: </strong> <span>FPT Polytechnic College</span></li>
              <li><img src="assets/imgs/theme/icons/icon-contact.svg" alt="" /><strong>Call Us: </strong><span>0375-512-3xxx</span></li>
              <li><img src="assets/imgs/theme/icons/icon-email-2.svg" alt="" /><strong>Email: </strong><span>dotruong0108t@gmail.com</span></li>
              <li><img src="assets/imgs/theme/icons/icon-clock.svg" alt="" /><strong>Hours: </strong><span>10:00 - 18:00, Mon - Sat</span></li>
            </ul>
          </div>
        </div>
        <div class="footer-link-widget col">
          <h4 class="widget-title">Company</h4>
          <ul class="footer-list mb-sm-5 mb-md-0">
            <li><a [routerLink]="['/',paths.aboutUs]">About Us</a></li>
            <li><a [routerLink]="['/',paths.privacyPolicy]">Privacy Policy</a></li>
            <li><a [routerLink]="['/',paths.contact]">Contact Us</a></li>
          </ul>
        </div>
        <div class="footer-link-widget col">
          <h4 class="widget-title">Account</h4>
          <ul class="footer-list mb-sm-5 mb-md-0">
            <li><a [routerLink]="['/',paths.login]">Sign In</a></li>
            <li><a [routerLink]="['/',paths.cart]">View Cart</a></li>
            <li><a [routerLink]="['/',paths.favorite]">My Wishlist</a></li>
            <li><a [routerLink]="['/',paths.accountInfo]" [queryParams]="{ tab: 'order' }">Track My Order</a></li>
            <li><a [routerLink]="['/',paths.compareItem]">Compare products</a></li>
          </ul>
        </div>
        <div class="footer-link-widget col">
          <h4 class="widget-title">Popular</h4>
          <ul class="footer-list mb-sm-5 mb-md-0">
            <li *ngFor="let category of categories">
              <a [routerLink]="['/',paths.shopFilter,'showByCategory',category.id]">{{category.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div class="container pb-30">
    <div class="row align-items-center">
      <div class="col-12 mb-30">
        <div class="footer-bottom"></div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6">
        <p class="font-sm mb-0">&copy; 2023, <strong class="text-brand">Nest</strong> - FPT Polytechnic <br /></p>
      </div>
      <div class="col-xl-4 col-lg-6 text-center d-none d-xl-block">
        <div class="hotline d-lg-inline-flex mr-30">
          <img src="assets/imgs/theme/icons/phone-call.svg" alt="hotline" />
          <p>0375-512-xxx<span>Working 8:00 - 22:00</span></p>
        </div>
        <!-- <div class="hotline d-lg-inline-flex">
          <img src="assets/imgs/theme/icons/phone-call.svg" alt="hotline" />
          <p>0327-032-xxx<span>24/7 Support Center</span></p>
        </div> -->
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 text-end d-none d-md-block">
        <div class="mobile-social-icon">
          <h6>Follow Us</h6>
          <a href="https://www.facebook.com/caodang.fptpoly"><img src="assets/imgs/theme/icons/icon-facebook-white.svg" alt="" /></a>
          <a href="https://twitter.com/FPOLY_VN"><img src="assets/imgs/theme/icons/icon-twitter-white.svg" alt="" /></a>
          <a href="https://www.instagram.com/caodang.fptpolytechnic/"><img src="assets/imgs/theme/icons/icon-instagram-white.svg" alt="" /></a>
          <a href="https://www.youtube.com/@FPTPoly"><img src="assets/imgs/theme/icons/icon-youtube-white.svg" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</footer>
