<main class="main pages">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a [routerLink]="paths.home" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
        <span></span> Login
      </div>
    </div>
  </div>
  <div class="page-content pt-150 pb-150">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
          <div class="row">
            <div class="col-lg-6 pr-30 d-none d-lg-block">
              <img class="border-radius-15"
                src="https://i.pinimg.com/564x/fe/8a/82/fe8a821d11269ba7e8ded9432331cd35.jpg" alt="" />
            </div>
            <div class="col-lg-6 col-md-8">
              <div class="login_wrap widget-taber-content background-white">
                <div class="padding_eight_all bg-white">
                  <div class="heading_s1">
                    <h1 class="mb-5">Login</h1>
                    <p class="mb-30">Don't have an account? <a [routerLink]="['/',paths.register]">Create here</a></p>
                  </div>
                  <form (ngSubmit)="login()">
                    <div class="error-message text-danger pb-3" *ngIf="errorMessage">{{ errorMessage }}</div>
                    <div class="form-group">
                      <input type="text" required="" [(ngModel)]="username" name="username" placeholder="Username *" />
                    </div>
                    <div class="form-group">
                      <input required="" type="password" [(ngModel)]="password" name="password"
                        placeholder="Your password *" />
                    </div>
                    <div class="login_footer form-group mb-50">
                      <a class="text-muted" [routerLink]="['/',paths.forgotPass]">Forgot password?</a>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-heading btn-block hover-up" name="login">Log in</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>