<header class="header-area header-style-1 header-height-2">
  <div class="mobile-promotion">
    <span>Grand opening, <strong>up to 15%</strong> off all items. Only <strong>3
        days</strong> left</span>
  </div>
  <div class="header-top header-top-ptb-1 d-none d-lg-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-3 col-lg-4">
          <div class="header-info">
            <ul>
              <li><a [routerLink]="['/',paths.aboutUs]">About Us</a></li>
              <li><a [routerLink]="['/',paths.accountInfo]">My Account</a></li>
              <li><a [routerLink]="['/',paths.favorite]">Wishlist</a></li>
              <li><a [routerLink]="['/',paths.accountInfo]" [queryParams]="{ tab: 'order' }">Order Tracking</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-6 col-lg-4" style="margin-bottom:10px !important;">
          <div class="text-center">
            <div id="news-flash" class="d-inline-block">
              <ul>
                <li>100% Secure delivery without contacting the courier</li>
                <li>Supper Value Deals - Save more with coupons</li>
                <li>Trendy 25silver jewelry, save up 35% off today</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4">
          <div class="header-info header-info-right">
            <ul>
              <li>Need help? Contact: <strong class="text-brand"> + 0375 512 xxx</strong></li>
              <li>
                <p class="language-dropdown-active">English</p>
              </li>
              <li>
                <p class="language-dropdown-active">USD</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
    <div class="container">
      <div class="header-wrap">
        <div class="logo logo-width-1">
          <a [routerLink]="['/',paths.home]"><img src="assets/imgs/theme/logo.svg" alt="logo" /></a>
        </div>
        <div class="header-right">
          <div class="search-style-2">
            <form action="#">
              <input type="text" name="productName" placeholder="Search for items..." [(ngModel)]="productName" (keyup.enter)="searchProductByName()">
            </form>
          </div>
          <div class="header-action-right">
            <div class="header-action-2">
              <div class="header-action-icon-2">
                <a [routerLink]="['/',paths.compareItem]">
                  <img class="svgInject" alt="Nest" src="assets/imgs/theme/icons/icon-compare.svg" />
                  <span class="pro-count blue">{{ comparedProducts.length }}</span>
                </a>
                <a [routerLink]="['/',paths.compareItem]"><span class="lable ml-0">Compare</span></a>
              </div>
              <div class="header-action-icon-2">
                <a [routerLink]="['/',paths.favorite]">
                  <img class="svgInject" alt="Nest" src="assets/imgs/theme/icons/icon-heart.svg" />
                  <span class="pro-count blue">{{ totalProductFavorite }}</span>
                </a>
                <a  [routerLink]="['/',paths.favorite]"><span class="lable">Wishlist</span></a>
              </div>
              <div class="header-action-icon-2">
                <a [routerLink]="['/' + paths.cart]" class="mini-cart-icon" href="shop-cart.html">
                  <img alt="Nest" src="assets/imgs/theme/icons/icon-cart.svg" />
                  <span class="pro-count blue">{{totalProduct}}</span>
                </a>
                <a><span class="lable">Cart</span></a>
                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                  <ul>
                    <li *ngFor="let item of cartItems,let i = index">
                      <div class="shopping-cart-img">
                        <a href="shop-product-right.html"><img alt="Nest"
                          [src]="productImage[i]" /></a>
                      </div>
                      <div class="shopping-cart-title" style="width: 150px;">
                        <h4><a href="shop-product-right.html">{{item.productId.productName}}</a></h4>
                        <h4><span>{{item.quantity}} × </span>{{item.productId.price}}$</h4>
                      </div>
                      <div class="shopping-cart-delete">
                        <a (click)="removeCartItem(item.id)"><i class="fi-rs-cross-small"></i></a>
                      </div>
                    </li>
                  </ul>
                  <div class="shopping-cart-footer">
                    <div class="shopping-cart-total">
                      <h4>Total <span>{{ totalValue | currency: 'USD' }}</span></h4>
                    </div>
                    <div class="shopping-cart-button">
                      <a [routerLink]="['/' + paths.cart]" class="outline">View
                        cart</a>
                      <a [routerLink]="[paths.checkout]">Checkout</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="header-action-icon-2">
                <a href="page-account.html">
                  <img class="svgInject" alt="Nest" src="assets/imgs/theme/icons/icon-user.svg" />
                </a>
                <a><span class="lable ml-0">Account</span></a>
                <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                  <ul>
                    <li><a [routerLink]="['/',paths.accountInfo]"><i class="fi fi-rs-user mr-10"></i>My Account</a></li>
                    <li><a [routerLink]="['/',paths.favorite]"><i class="fi fi-rs-heart mr-10"></i>My Wishlist</a></li>
                    <li *ngIf="isLoggedIn()"><a (click)="logout()" [routerLink]="'/' + paths.login"><i
                          class="fi fi-rs-sign-out mr-10"></i>Sign out</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom header-bottom-bg-color sticky-bar">
    <div class="container">
      <div class="header-wrap header-space-between position-relative">
        <div class="logo logo-width-1 d-block d-lg-none">
          <a [routerLink]="['/',paths.home]"><img src="assets/imgs/theme/logo.svg" alt="logo" /></a>
        </div>
        <div class="header-nav d-none d-lg-flex">
          <div class="main-categori-wrap d-none d-lg-block">
            <a class="categories-button-active" href="#">
              <span class="fi-rs-apps"></span> <span class="et">Browse</span>
              All Categories
              <i class="fi-rs-angle-down"></i>
            </a>
            <div class="categories-dropdown-wrap categories-dropdown-active-large font-heading">
              <div class="d-flex categori-dropdown-inner">
                <ul class="row">
                  <li class="col-5" *ngFor="let category of categories, let i = index">
                    <a [routerLink]="['/',paths.shopFilter,'showByCategory',category.id]">
                      <img [src]="categoryImage[i]" />
                      {{category.name}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading"
            style="margin-top: 10px;">
            <nav>
              <ul>
                <li>
                  <a [routerLink]="['/' + paths.home]">Home</a>
                </li>
                <li>
                  <a [routerLink]="['/',paths.aboutUs]">About</a>
                </li>
                <li>
                  <a href="shop-grid-right.html">Shop</a>
                </li>
                <li>
                  <a [routerLink]="['/',paths.favorite]">Wishlist</a>
                </li>
                <li>
                  <a [routerLink]="['/',paths.compareItem]">Compare</a>
                </li>
                <li>
                  <a [routerLink]="['/',paths.compareItem]">Privacy Policy</a>
                </li>
                <li>
                  <a [routerLink]="['/',paths.contact]">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="hotline d-none d-lg-flex">
          <img src="assets/imgs/theme/icons/icon-headphone.svg" alt="hotline" />
          <p>0375 512 xxx<span style="text-align: center;">24/7 Support Center</span></p>
        </div>
        <div class="header-action-icon-2 d-block d-lg-none">
          <div class="burger-icon burger-icon-white">
            <span class="burger-icon-top"></span>
            <span class="burger-icon-mid"></span>
            <span class="burger-icon-bottom"></span>
          </div>
        </div>
        <div class="header-action-right d-block d-lg-none">
          <div class="header-action-2">
            <div class="header-action-icon-2">
              <a href="shop-wishlist.html">
                <img alt="Nest" src="assets/imgs/theme/icons/icon-heart.svg" />
                <span class="pro-count white">4</span>
              </a>
            </div>
            <div class="header-action-icon-2">
              <a class="mini-cart-icon" href="shop-cart.html">
                <img alt="Nest" src="assets/imgs/theme/icons/icon-cart.svg" />
                <span class="pro-count white">2</span>
              </a>
              <div class="cart-dropdown-wrap cart-dropdown-hm2">
                <ul>
                  <li>
                    <div class="shopping-cart-img">
                      <a href="shop-product-right.html"><img alt="Nest" src="assets/imgs/shop/thumbnail-3.jpg" /></a>
                    </div>
                    <div class="shopping-cart-title">
                      <h4><a href="shop-product-right.html">Plain Striola Shirts</a></h4>
                      <h3><span>1 × </span>$800.00</h3>
                    </div>
                    <div class="shopping-cart-delete">
                      <a href="#"><i class="fi-rs-cross-small"></i></a>
                    </div>
                  </li>
                  <li>
                    <div class="shopping-cart-img">
                      <a href="shop-product-right.html"><img alt="Nest" src="assets/imgs/shop/thumbnail-4.jpg" /></a>
                    </div>
                    <div class="shopping-cart-title">
                      <h4><a href="shop-product-right.html">Macbook Pro 2022</a></h4>
                      <h3><span>1 × </span>$3500.00</h3>
                    </div>
                    <div class="shopping-cart-delete">
                      <a href="#"><i class="fi-rs-cross-small"></i></a>
                    </div>
                  </li>
                </ul>
                <div class="shopping-cart-footer">
                  <div class="shopping-cart-total">
                    <h4>Total <span>$383.00</span></h4>
                  </div>
                  <div class="shopping-cart-button">
                    <a href="shop-cart.html">View cart</a>
                    <a href="shop-checkout.html">Checkout</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
