<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Order List</h2>
    </div>
  </div>
  <div class="card mb-4">
    <header class="card-header">
      <div class="row gx-3">
        <div class="col-lg-4 col-md-6 me-auto">
          <input type="text" placeholder="Search by Name, Email, Order ID" class="form-control input-search" [(ngModel)]="filter.searchName"
                 (ngModelChange)="onSearchOrder()"
          />
        </div>
        <div class="col-lg-2 col-6 col-md-3">
          <p-dropdown [options]="['Completed', 'Pending', 'Canceled', 'Show All']" [(ngModel)]="filter.status" placeholder="Filter by status"
                      (onChange)="onSearchOrder()" appendTo="body"
          ></p-dropdown>
        </div>
      </div>
    </header>
    <!-- card-header end// -->
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>#ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Total</th>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
            <th scope="col" class="text-end">Action</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngIf="listOrderFilter && listOrderFilter.length > 0">
            <tr *ngFor="let item of listOrderFilter">
              <td>{{item.id}}</td>
              <td><b>{{item.fullName}}</b></td>
              <td>{{item.email}}</td>
              <td>{{item.sumPriceBill}}</td>
              <td><span class="badge rounded-pill status-{{item.status.toLocaleLowerCase()}}">{{item.status}}</span></td>
              <td>{{item.orderDate | date}}</td>
              <td class="text-end">
                <a [routerLink]="item.id" class="btn btn-md rounded font-sm">Detail</a>
                <div class="dropdown">
                  <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">View detail</a>
                    <a class="dropdown-item" href="#">Edit info</a>
                    <a class="dropdown-item text-danger" href="#">Delete</a>
                  </div>
                </div>
                <!-- dropdown //end -->
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
      <!-- table-responsive //end -->
    </div>
    <!-- card-body end// -->
  </div>
  <!-- card end// -->


  <div class="pagination-area mt-15 mb-50">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-start">
        <ng-container *ngFor="let page of listPage">
          <li class="page-item"
              [class.active]="pageIndex + 1 == page"
          ><a class="page-link" href="#">{{page < 10 ? '0' + page : page}}</a></li>
        </ng-container>
      </ul>
    </nav>
  </div>
</section>
