<main class="main">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a [routerLink]="['/',paths.home]" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
        <span></span> Shop <span></span> Compare
      </div>
    </div>
  </div>
  <div class="container mb-80 mt-50">
    <div class="row">
      <div class="col-xl-10 col-lg-12 m-auto">
        <h1 class="heading-2 mb-10">Products Compare</h1>
        <h6 class="text-body mb-40">There are <span class="text-brand">{{ comparedProducts.length }}</span> products to compare</h6>
        <div class="table-responsive">
          <table class="table text-center table-compare">
            <tbody>
              <tr class="pr_image">
                <td class="text-muted font-sm fw-600 font-heading mw-200">Preview</td>
                <td *ngFor="let product of comparedProducts; let i = index" class="row_img">
                  <img [src]="productImage[i]" alt="compare-img" />
                </td>
              </tr>
              <tr class="pr_title">
                <td class="text-muted font-sm fw-600 font-heading">Name</td>
                <td *ngFor="let product of comparedProducts" class="product_name">
                  <h6><a [routerLink]="['/', paths.productDetail, product.id]" class="text-heading">{{ product.productName }}</a></h6>
                </td>
              </tr>
              <tr class="pr_price">
                <td class="text-muted font-sm fw-600 font-heading">Price</td>
                <td *ngFor="let product of comparedProducts" class="product_price">
                  <h4 class="price text-brand">${{ product.price }}</h4>
                </td>
              </tr>
               <tr class="pr_rating">
                <td class="text-muted font-sm fw-600 font-heading">Rating</td>
                <td *ngFor="let product of comparedProducts">
                  <div class="rating_wrap">
                    <div class="product-rate d-inline-block">
                      <div class="product-rating" [style.width]="calculateRatingWidth(product.averageRating)"></div>
                    </div>
                    <span class="rating_num">({{ product.totalRatings }})</span>
                  </div>
                </td>
              </tr>
              <tr class="description">
                <td class="text-muted font-sm fw-600 font-heading">Description</td>
                <td *ngFor="let product of comparedProducts" class="row_text font-xs">
                  <p class="font-sm text-muted">{{ product.description }}</p>
                </td>
              </tr>
              <tr class="pr_stock">
                <td class="text-muted font-sm fw-600 font-heading">Stock status</td>
                <td *ngFor="let product of comparedProducts" class="row_stock">
                  <span class="stock-status">{{ product.quantity }}</span>
                </td>
              </tr>
               <tr class="pr_add_to_cart">
                <td class="text-muted font-sm fw-600 font-heading">Buy now</td>
                <td *ngFor="let product of comparedProducts" class="row_btn">
                  <button class="btn btn-sm" (click)="addToCart(product.id)"><i class="fi-rs-shopping-bag mr-5"></i>Add to cart</button>
                </td>
              </tr>
              <tr class="pr_remove text-muted">
                <td class="text-muted font-md fw-600"></td>
                <td *ngFor="let product of comparedProducts" class="row_remove">
                  <a class="text-muted" (click)="removeFromComparison(product.id)"><i class="fi-rs-trash mr-5"></i><span>Remove</span></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
