<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Reviews</h2>
    </div>
  </div>
  <div class="card mb-4">
    <!-- card-header end// -->
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr class="text-center">
            <th>#ID</th>
            <th>Product</th>
            <th>Name</th>
            <th>Comment</th>
            <th>Rating</th>
            <th>Date</th>
            <th class="text-end">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let rate of rates,let i = index">
            <td>{{rate.id}}</td>
            <td><b>{{rate.productName}}</b></td>
            <td>{{rate.accountName}}</td>
            <td style="width: 350px;">{{rate.comment}}</td>
            <td>
              <ul class="rating-stars">
                <li [style.width]="calculateRatingWidth(rate.star)" class="stars-active">
                  <img src="assets/imgs/icons/stars-active.svg" alt="stars" />
                </li>
                <li>
                  <img src="assets/imgs/icons/starts-disable.svg" alt="stars" />
                </li>
              </ul>
            </td>
            <td>{{rate.rateDate}}</td>
            <td class="text-end">
              <a [routerLink]="['/',paths.rate, rate.id]" class="btn btn-md rounded font-sm">Detail</a>
              <!-- dropdown //end -->
            </td>

          </tr>
          </tbody>
        </table>
      </div>
      <!-- table-responsive//end -->
    </div>
    <!-- card-body end// -->
  </div>
  <div class="pagination-area mt-15 mb-50">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-start">
        <li class="page-item">
          <a class="page-link" (click)="changePage(currentPage - 1)"><i class="material-icons md-chevron_left pt-1"></i></a>
        </li>
        <li class="page-item" [class.active]="page === currentPage" *ngFor="let page of range(totalPages)"><a class="page-link" (click)="changePage(page)">{{ page + 1 }}</a></li>
        <li class="page-item">
          <a class="page-link" (click)="changePage(currentPage + 1)"><i class="material-icons md-chevron_right pt-1"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</section>
