<main class="main pages">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a [routerLink]="['/',paths.home]" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
        <span></span> Pages <span></span> My Account
      </div>
    </div>
  </div>
  <div class="page-content pt-150 pb-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 m-auto">
          <div class="row">
            <div class="col-md-3">
              <div class="dashboard-menu">
                <ul class="nav flex-column" role="tablist">
                  <li class="nav-item" *ngFor="let item of listTab">
                    <a
                      class="nav-link" id="{{item.code}}-tab" data-bs-toggle="tab" [attr.href]="'#' + item.code"
                       role="tab"
                       [class.active]="tabSelected == item.code"
                       (click)="changeTab(item.code)"
                       [attr.aria-controls]="item.code" aria-selected="false"><i
                      class="{{item.icon}} mr-10"></i>{{item.title}}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/' + paths.resetPass"><i class="fi-rs-lock mr-10"></i>Update
                      Password</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-9">
              <div class="tab-content account dashboard-content pl-50">
                <div
                  [ngClass]="tabSelected == 'dashboard' ? 'active show' : ''"
                  class="tab-pane fade" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="mb-0">Hello {{ user.username }}!</h3>
                    </div>
                    <div class="card-body">
                      <p>
                        From your account dashboard. you can easily check &amp; view your <a href="#">recent orders</a>,<br/>
                        manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit your password
                        and account details.</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div
                  [ngClass]="tabSelected == 'order' ? 'active show' : ''"
                  class="tab-pane fade" id="order" role="tabpanel" aria-labelledby="orders-tab">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="mb-0">Your Orders</h3>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                          <tr>
                            <th>Order</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Total</th>
                            <th>Payment Status</th>
                            <th>Actions</th>
                          </tr>
                          </thead>
                          <tbody>
                          <ng-container *ngFor="let item of listOrder">
                            <tr>
                              <td>#{{item.id}}</td>
                              <td>{{item.orderDate | date}}</td>
                              <td>{{item.status | titlecase}}</td>
                              <td>${{item.sumPriceBill}} for {{item.countOrder}} item</td>
                              <td>{{item.paymentId ? 'Paid' : 'Unpaid'}}</td>
                              <td><a [routerLink]="['/' + paths.invoice +'/' + item.id]" class="btn-small d-block">View</a></td>
                            </tr>
                          </ng-container>
                          </tbody>
                        </table>
                      </div>
                      <div class="pagination-area mt-15 mb-50">
                        <nav aria-label="Page navigation example">
                          <ul class="pagination justify-content-start">
                            <ng-container *ngFor="let page of listPage">
                              <li class="page-item"
                                  [class.active]="pageIndex + 1 == page"
                              ><a class="page-link" (click)="changePage(page)">{{page < 10 ? '0' + page : page}}</a></li>
                            </ng-container>
                          </ul>
                        </nav>
                      </div>

                    </div>
                  </div>
                </div>
                <div [ngClass]="tabSelected == 'address' ? 'active show' : ''"
                     class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="card mb-3 mb-lg-0">
                        <div class="card-body">
                          <img src="https://i.pinimg.com/474x/28/1f/b2/281fb27c747c2cf1cc41819356978801.jpg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6"
                         style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                      <div class="card">
                        <div class="card-header">
                          <h5 class="mb-0">Shipping Address</h5>
                        </div>
                        <div class="card-body">
                          <address>
                            {{user.address}}
                          </address>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div [ngClass]="tabSelected == 'account-detail' ? 'active show' : ''"
                     class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                  <div class="card">
                    <div class="card-header">
                      <h5>Account Details</h5>
                    </div>
                    <div class="card-body">
                      <p>Account update information will be changed the next time you log in</p>
                      <form (ngSubmit)="updateAccountByUser()" enctype="multipart/form-data">
                        <div class="error-message text-danger pb-3" *ngIf="errorMessage">{{ errorMessage }}</div>
                        <div class="row">
                          <div class="form-group col-md-12 text-center" style="text-align: center;">
                            <img *ngIf="userAvatar" [src]="userAvatar" alt="User Avatar" class="avatar-preview"
                                 style="border-radius: 50%;border: 3px solid black; width: 300px; height: 300px;"/>
                          </div>
                          <input required="" class="form-control" name="id" [(ngModel)]="user.id" type="hidden"/>
                          <div class="form-group col-md-12">
                            <label>Full Name <span class="required">*</span></label>
                            <input required="" class="form-control" name="fullName" [(ngModel)]="user.fullName"
                                   type="text"/>
                          </div>
                          <div class="form-group col-md-12">
                            <label>Username <span class="required">*</span></label>
                            <input required="" class="form-control" name="username" [(ngModel)]="user.username"
                                   type="text"/>
                          </div>
                          <div class="form-group col-md-12">
                            <label>Email Address <span class="required">*</span></label>
                            <input required="" class="form-control" name="email" [(ngModel)]="user.email" type="email"/>
                          </div>
                          <div class="form-group col-md-12">
                            <label>Address <span class="required">*</span></label>
                            <input required="" class="form-control" name="address" [(ngModel)]="user.address"
                                   type="text"/>
                          </div>
                          <div class="form-group col-md-12">
                            <label>Phone <span class="required">*</span></label>
                            <input required="" class="form-control" name="phone" [(ngModel)]="user.phone" type="text"/>
                          </div>
                          <div class="col-md-12">
                            <label>Avatar</label>
                            <input type="file" class="form-control" style="border: none;" name="avatar"
                                   (change)="onAvatarChange($event)"/>
                          </div>
                          <div class="col-md-12">
                            <button type="submit" class="btn btn-fill-out submit font-weight-bold" name="submit"
                                    value="Submit">Save Change
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
