<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Order detail</h2>
      <p>Details for Order ID: {{billId}}</p>
    </div>
  </div>
  <div class="card" *ngIf="!loading">
    <header class="card-header">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
          <span> <i class="material-icons md-calendar_today"></i> <b>{{orderDetail.bill.orderDate | date : 'dd-MM-yyyy hh:mm:ss'}}</b> </span> <br />
          <small class="text-muted">Order ID: {{billId}}</small>
        </div>
        <div class="col-lg-6 col-md-6 ms-auto justify-content-end d-flex gap-4">
          <div class="d-flex justify-content-center align-items-center gap-2">
            <span>Status Bill</span>
            <p-dropdown
              class="dropdown-status"
              placeholder="Change Status"
              [options]="listStatus"
              [(ngModel)]="statusSelected"
              optionValue="code"
              optionLabel="value"
              [disabled]="checkDisable()"
            ></p-dropdown>
          </div>
          <button class="btn btn-primary" [class.disabled]="checkDisable()" (click)="saveBillDetail()">Save</button>
<!--          <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a>-->
        </div>
      </div>
    </header>
    <!-- card-header end// -->
    <div class="card-body">
      <div class="row mb-50 mt-20 order-info-wrap">
        <div class="col-md-4">
          <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                      <img [src]="accountAvatar" alt="" style="border-radius: 50%;">
                                    </span>

            <div class="text">
              <h6 class="mb-1">Customer</h6>
              <p class="mb-1">
                {{orderDetail.account.fullName}} <br />
                {{orderDetail.account.email}} <br />
                {{orderDetail.account.phone}}
              </p>
            </div>
          </article>
        </div>
        <!-- col// -->
        <div class="col-md-4">
          <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-local_shipping"></i>
                                    </span>
            <div class="text">
              <h6 class="mb-1">Order info</h6>
              <p class="mb-1">
                Shipping: {{orderDetail.account.address}} <br />
                Pay method: card <br />
                Status: {{orderDetail.bill.status}} <br/>
                Payment Status: {{orderDetail.bill.paymentId ? 'Paid' : 'Unpaid'}}
              </p>
            </div>
          </article>
        </div>
      </div>
      <!-- row // -->
      <div class="row">
        <div class="col-lg-7">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th width="40%">Product</th>
                <th width="20%">Unit Price</th>
                <th width="20%">Quantity</th>
                <th width="20%" class="text-end">Total</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of orderDetail.billDetails">
                <td>
                  <a class="itemside" href="#">
                    <div class="left">
                      <img [src]="productImage[item.productDTO.id]" width="40" height="40" class="img-xs" alt="Item" />
                    </div>
                    <div class="info">{{item.productDTO.productName}}</div>
                  </a>
                </td>
                <td>{{item.price}}</td>
                <td>{{item.quantity}}</td>
                <td class="text-end">{{item.price * item.quantity}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- table-responsive// -->
        </div>
        <!-- col// -->
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
          <div class="h-25 pt-4">
            <div class="mb-3">
              <label>Notes</label>
              <textarea [disabled]="checkDisable()" [(ngModel)]="orderDetail.bill.description" class="form-control" name="notes" id="notes" placeholder="Type some note"></textarea>
            </div>
            <button class="btn btn-primary" [class.disabled]="checkDisable()" (click)="saveBillDetail()">Save note</button>
          </div>
        </div>
        <!-- col// -->
      </div>
    </div>
    <!-- card-body end// -->
  </div>
  <!-- card end// -->
</section>
<loading-page [isLoading]="loading"></loading-page>
