<main class="main pages">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a [routerLink]="['/',paths.home]" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
        <span></span> Pages <span></span> Contact
      </div>
    </div>
  </div>
  <div class="page-content pt-50">
    <div class="container">
      <div class="row">
        <div class="col-xl-10 col-lg-12 m-auto">
          <section class="row align-items-end mb-50">
            <div class="col-lg-12 mb-lg-0 mb-md-12 mb-sm-12">
              <h4 class="mb-20 text-brand">Contact</h4>
              <p class="mb-20">Welcome to our Contact page! We are delighted to listen and assist you. Here's how you can get in touch with us:</p>
            </div>
            <div class="col-lg-8">
              <div class="row">
                <div class="col-lg-6 mb-4">
                  <h5 class="mb-20">01. Address</h5>
                  <p>FPT Polytechnic.</p>
                </div>
                <div class="col-lg-6 mb-4">
                  <h5 class="mb-20">02. Phone</h5>
                  <p>Customer Support: 0375 512 xxx.</p>
                </div>
                <div class="col-lg-6 mb-lg-0 mb-4">
                  <h5 class="mb-20">03. Email</h5>
                  <p>Customer Support: dotruong0108t@gmail.com.</p>
                </div>
                <div class="col-lg-6">
                  <h5 class="mb-20">04. Business Hours</h5>
                  <p>We are available to assist you during business hours:</p>
                  <p><li>Monday to Friday: 8:00 AM - 5:00 PM</li></p>
                  <p><li>Saturday: 9:00 AM - 12:00 PM</li></p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <section class="container mb-50 d-none d-md-block">
      <div class="border-radius-15 overflow-hidden" id="map" style="height: 300px;"></div>
    </section>
    
  </div>
</main>
